.chrome-extension-FindManyStrings { font-style: normal; border-radius: 3px; padding-left: 3px; padding-right: 3px; box-shadow: 1px 1px 3px rgba(0,0,0,0.3); text-decoration: none; }

.chrome-extension-FindManyStrings-style-0 { color: black; background: yellow; }
.chrome-extension-FindManyStrings-style-1 { color: #000; background: #ffc600; }
.chrome-extension-FindManyStrings-style-2 { color: #fff; background: red; }
.chrome-extension-FindManyStrings-style-3 { color: #fff; background: #3988ff; }
.chrome-extension-FindManyStrings-style-4 { color: #000; background: #b4ff00; }
.chrome-extension-FindManyStrings-style-5 { color: #fff; background: #fc11ff; }
